* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 186px;
  height: 116px;
}

.item-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  align-self: center;
}

.container {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 186px;
  justify-content: center;
  /* border: 1px solid black; */
  flex-direction: column;

}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-container{
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;

}


h1 {
  margin-bottom: 10px;
}
.backgroud-white {
  background-color: aliceblue;
}

.backgroud-yellow {
  background-color: yellowgreen;
}

